/*
Email Validation API — Enterprise-grade Email Verification

API robusta y segura para validación y verificación de correos electrónicos. Soporta verificación individual y en lote, detección de brechas, y autenticación JWT. Cumple con GDPR y dispone de planes de pago flexibles.  **🔗 Enlaces importantes:** - [Estado del sistema](https://mailsafepro.betteruptime.com) - [Documentación completa](https://email-validation-api-jlra.onrender.com/redoc)  **📧 Contacto:** mailsafepro1@gmail.com

API version: 2.5.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mailsafepro

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type DefaultAPI interface {

	/*
	AskGeminiGeminiGet Ask Gemini

	Llama a Gemini para generar texto a partir de un prompt

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiAskGeminiGeminiGetRequest
	*/
	AskGeminiGeminiGet(ctx context.Context) ApiAskGeminiGeminiGetRequest

	// AskGeminiGeminiGetExecute executes the request
	//  @return interface{}
	AskGeminiGeminiGetExecute(r ApiAskGeminiGeminiGetRequest) (interface{}, *http.Response, error)

	/*
	RunAuditAdminAuditProjectPost Run Audit

	Lanza auditoría en path (ruta absoluta o relativa a la raíz del proyecto).
Header obligatorio: X-Audit-Token: <AUDIT_SECRET>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiRunAuditAdminAuditProjectPostRequest
	*/
	RunAuditAdminAuditProjectPost(ctx context.Context) ApiRunAuditAdminAuditProjectPostRequest

	// RunAuditAdminAuditProjectPostExecute executes the request
	//  @return interface{}
	RunAuditAdminAuditProjectPostExecute(r ApiRunAuditAdminAuditProjectPostRequest) (interface{}, *http.Response, error)
}

// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type ApiAskGeminiGeminiGetRequest struct {
	ctx context.Context
	ApiService DefaultAPI
	prompt *string
}

func (r ApiAskGeminiGeminiGetRequest) Prompt(prompt string) ApiAskGeminiGeminiGetRequest {
	r.prompt = &prompt
	return r
}

func (r ApiAskGeminiGeminiGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.AskGeminiGeminiGetExecute(r)
}

/*
AskGeminiGeminiGet Ask Gemini

Llama a Gemini para generar texto a partir de un prompt

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAskGeminiGeminiGetRequest
*/
func (a *DefaultAPIService) AskGeminiGeminiGet(ctx context.Context) ApiAskGeminiGeminiGetRequest {
	return ApiAskGeminiGeminiGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) AskGeminiGeminiGetExecute(r ApiAskGeminiGeminiGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.AskGeminiGeminiGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/gemini"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.prompt == nil {
		return localVarReturnValue, nil, reportError("prompt is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "prompt", r.prompt, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRunAuditAdminAuditProjectPostRequest struct {
	ctx context.Context
	ApiService DefaultAPI
	path *string
	xAuditToken *string
}

func (r ApiRunAuditAdminAuditProjectPostRequest) Path(path string) ApiRunAuditAdminAuditProjectPostRequest {
	r.path = &path
	return r
}

func (r ApiRunAuditAdminAuditProjectPostRequest) XAuditToken(xAuditToken string) ApiRunAuditAdminAuditProjectPostRequest {
	r.xAuditToken = &xAuditToken
	return r
}

func (r ApiRunAuditAdminAuditProjectPostRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.RunAuditAdminAuditProjectPostExecute(r)
}

/*
RunAuditAdminAuditProjectPost Run Audit

Lanza auditoría en path (ruta absoluta o relativa a la raíz del proyecto).
Header obligatorio: X-Audit-Token: <AUDIT_SECRET>

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRunAuditAdminAuditProjectPostRequest
*/
func (a *DefaultAPIService) RunAuditAdminAuditProjectPost(ctx context.Context) ApiRunAuditAdminAuditProjectPostRequest {
	return ApiRunAuditAdminAuditProjectPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DefaultAPIService) RunAuditAdminAuditProjectPostExecute(r ApiRunAuditAdminAuditProjectPostRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.RunAuditAdminAuditProjectPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/audit_project"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.path != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	} else {
        var defaultValue string = "."
        parameterAddToHeaderOrQuery(localVarQueryParams, "path", defaultValue, "form", "")
        r.path = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xAuditToken != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "x-audit-token", r.xAuditToken, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
