/*
Email Validation API — Enterprise-grade Email Verification

API robusta y segura para validación y verificación de correos electrónicos. Soporta verificación individual y en lote, detección de brechas, y autenticación JWT. Cumple con GDPR y dispone de planes de pago flexibles.  **🔗 Enlaces importantes:** - [Estado del sistema](https://mailsafepro.betteruptime.com) - [Documentación completa](https://mailsafepro-api.fly.dev/redoc)  **📧 Contacto:** mailsafepro1@gmail.com

API version: 2.5.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package mailsafepro

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


type DeveloperToolsAPI interface {

	/*
	ClearRequestLogsLogsLogsRequestsDelete Clear Request Logs

	Clear all request logs for current user.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiClearRequestLogsLogsLogsRequestsDeleteRequest
	*/
	ClearRequestLogsLogsLogsRequestsDelete(ctx context.Context) ApiClearRequestLogsLogsLogsRequestsDeleteRequest

	// ClearRequestLogsLogsLogsRequestsDeleteExecute executes the request
	//  @return interface{}
	ClearRequestLogsLogsLogsRequestsDeleteExecute(r ApiClearRequestLogsLogsLogsRequestsDeleteRequest) (interface{}, *http.Response, error)

	/*
	GetRequestLogsLogsLogsRequestsGet Get Request Logs

	Get request logs for authenticated user.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetRequestLogsLogsLogsRequestsGetRequest
	*/
	GetRequestLogsLogsLogsRequestsGet(ctx context.Context) ApiGetRequestLogsLogsLogsRequestsGetRequest

	// GetRequestLogsLogsLogsRequestsGetExecute executes the request
	//  @return interface{}
	GetRequestLogsLogsLogsRequestsGetExecute(r ApiGetRequestLogsLogsLogsRequestsGetRequest) (interface{}, *http.Response, error)
}

// DeveloperToolsAPIService DeveloperToolsAPI service
type DeveloperToolsAPIService service

type ApiClearRequestLogsLogsLogsRequestsDeleteRequest struct {
	ctx context.Context
	ApiService DeveloperToolsAPI
}

func (r ApiClearRequestLogsLogsLogsRequestsDeleteRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.ClearRequestLogsLogsLogsRequestsDeleteExecute(r)
}

/*
ClearRequestLogsLogsLogsRequestsDelete Clear Request Logs

Clear all request logs for current user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiClearRequestLogsLogsLogsRequestsDeleteRequest
*/
func (a *DeveloperToolsAPIService) ClearRequestLogsLogsLogsRequestsDelete(ctx context.Context) ApiClearRequestLogsLogsLogsRequestsDeleteRequest {
	return ApiClearRequestLogsLogsLogsRequestsDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DeveloperToolsAPIService) ClearRequestLogsLogsLogsRequestsDeleteExecute(r ApiClearRequestLogsLogsLogsRequestsDeleteRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeveloperToolsAPIService.ClearRequestLogsLogsLogsRequestsDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/logs/logs/requests"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRequestLogsLogsLogsRequestsGetRequest struct {
	ctx context.Context
	ApiService DeveloperToolsAPI
	limit *int32
	statusCode *int32
	endpoint *string
	method *string
	since *time.Time
}

// Max results to return
func (r ApiGetRequestLogsLogsLogsRequestsGetRequest) Limit(limit int32) ApiGetRequestLogsLogsLogsRequestsGetRequest {
	r.limit = &limit
	return r
}

// Filter by HTTP status code
func (r ApiGetRequestLogsLogsLogsRequestsGetRequest) StatusCode(statusCode int32) ApiGetRequestLogsLogsLogsRequestsGetRequest {
	r.statusCode = &statusCode
	return r
}

// Filter by endpoint path
func (r ApiGetRequestLogsLogsLogsRequestsGetRequest) Endpoint(endpoint string) ApiGetRequestLogsLogsLogsRequestsGetRequest {
	r.endpoint = &endpoint
	return r
}

// Filter by HTTP method (GET, POST, etc)
func (r ApiGetRequestLogsLogsLogsRequestsGetRequest) Method(method string) ApiGetRequestLogsLogsLogsRequestsGetRequest {
	r.method = &method
	return r
}

// Filter by timestamp (ISO 8601)
func (r ApiGetRequestLogsLogsLogsRequestsGetRequest) Since(since time.Time) ApiGetRequestLogsLogsLogsRequestsGetRequest {
	r.since = &since
	return r
}

func (r ApiGetRequestLogsLogsLogsRequestsGetRequest) Execute() (interface{}, *http.Response, error) {
	return r.ApiService.GetRequestLogsLogsLogsRequestsGetExecute(r)
}

/*
GetRequestLogsLogsLogsRequestsGet Get Request Logs

Get request logs for authenticated user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetRequestLogsLogsLogsRequestsGetRequest
*/
func (a *DeveloperToolsAPIService) GetRequestLogsLogsLogsRequestsGet(ctx context.Context) ApiGetRequestLogsLogsLogsRequestsGetRequest {
	return ApiGetRequestLogsLogsLogsRequestsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return interface{}
func (a *DeveloperToolsAPIService) GetRequestLogsLogsLogsRequestsGetExecute(r ApiGetRequestLogsLogsLogsRequestsGetRequest) (interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeveloperToolsAPIService.GetRequestLogsLogsLogsRequestsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/logs/logs/requests"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
        var defaultValue int32 = 100
        parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
        r.limit = &defaultValue
	}
	if r.statusCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status_code", r.statusCode, "form", "")
	}
	if r.endpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpoint", r.endpoint, "form", "")
	}
	if r.method != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "method", r.method, "form", "")
	}
	if r.since != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "since", r.since, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v HTTPValidationError
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
